<header>
    <section id="branding">
        <a href="{{ '/' | absolute_url }}"><img src="{{ '/assets/img/logo.png' | absolute_url }}" id="logo"></a>
        <a href="{{ '/' | absolute_url }}"><h1 id="brand"><span>I</span>nternational <span>D</span>rivers <span>A</span>cademy</h1></a>
        <h2 id="brand-subtitle">Driving School and DOL Testing Center</h2>
    </section>
    <section id="brading-supplement">
        <img src="{{ '/assets/img/carslideshow.gif' | absolute_url }}" id="wheel-img">
    </section>
</header>