<nav>
    <ul>
        <li>
            <a href="#">Services</a>
            <ul class="subnavigation">
                <li><a href="{{ '/knowledge-driving-test' | absolute_url }}">Knowledge & Driving Test</a></li>
                <li><a href="">Adult Driving</a></li>
                <li><a href="">Traffic Safety Educaation Packages</a></li>
                <li><a href="">Additional Learning Programs</a></li>
                <li><a href="">Consulting</a></li>
            </ul>
        </li>
        <li>
            <a href="">Drivers Guide</a>
            <ul class="subnavigation">
                <li><a href="">Testing Preparations</a></li>
                <li><a href="">Pre/Post Driving Test</a></li>
            </ul>
        </li>
        <li>
            <a href="">中文</a>
        </li>
    </ul>
</nav>