<aside>
    <h1>Contact Us</h1>

    <address>
        12507 Bel-Red Rd #103,<br>
        Bellevue, WA 98005
    </address>
    
    <p>
        <strong>To schedule an appointment:</strong> <a href="mailto:info@IDAdriving.com">info@IDAdriving.com</a> <br>
        <span class="color-red">*Please note that we only take appointments by email.</span>
        <br><br>
        <strong>Phone:</strong> 425-524-5995 (text only)
        <br><br>
        We would love to accommodate your schedule. If your schedule requires more flexibility, please make an appointment 7 days in advance.
        <br><br>
        <strong>Refund Policy:</strong> Please contact us 48 hours in advance to cancel an appointment. Late cancellations will result in a $40 rescheduling fee. No refunds will be given for late cancellations. 
    </p>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3470018458765!2d-122.17455838414617!3d47.61938567918546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906c5861f9df17%3A0x1ae782bfc002aa30!2sInternational%20Drivers%20Academy!5e0!3m2!1sen!2sus!4v1573805428076!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <br>
    <div id="social-media">
        <a href="https://www.yelp.com/biz/international-drivers-academy-bellevue" target="_blank"><img src="{{ '/assets/img/yelp-icn2.png' | absolute_url }}"></a>
        <a href="https://www.facebook.com/IDAdrivingschool/" target="_blank"><img src="{{ '/assets/img/facebook-icn.png' | absolute_url }}"></a>
    </div>
</aside>