<aside>
    <h1>Contact Us</h1>

    <address>
        12507 Bel-Red Rd #103,<br>
        Bellevue, WA 98005
    </address>
    
    <p>
        To schedule an appointment: <a href="mailto:info@IDAdriving.com">info@IDAdriving.com</a> <br>
        <span class="color-red">*Please note that we only take appointments by email.</span>
        <br><br>
        Phone: 425-524-5995  (text only)
        <br><br>
        We are a small business, and during most of our office hours, we are with students on the road. If we missed your call, we apologize in advance.
        <br><br>
        We would love to accommodate your schedule. If your schedule requires more flexibility, please make an appointment 7 days in advance.
    </p>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.3470018458765!2d-122.17455838414617!3d47.61938567918546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906c5861f9df17%3A0x1ae782bfc002aa30!2sInternational%20Drivers%20Academy!5e0!3m2!1sen!2sus!4v1573805428076!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</aside>