body {
    margin: 0;
    background-color: #e2dad6;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    margin-top: 2em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-left: 10em;
}

#brading-supplement {
    max-width: 50vw;
}

#brading-supplement img {
    width: 100%;
    visibility: hidden;
}

#brand {
    font-size: 40pt;
    margin: 0;
    text-transform: uppercase;
    width: min-content;
}

#brand-subtitle {
    font-size: 20pt;
    font-weight: 500;
    font-style: italic;
}

nav > ul {
    border: 3px solid black;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-around;
    background-color: #bcb8b4;
    margin: 0;
}

nav > ul > li {
    padding: 0.5em;
}

nav > ul > li > a {
    padding: 0.5em;
    font-weight: 700;
    font-size: 14pt;
    color: black;
    text-decoration: none;
}

nav > ul > li > a:hover {
    text-decoration: underline;
    background-color: gray;
}

nav > ul > li > a:visited {
    color: black;
}

nav ul li {
    display: block;
}

nav .subnavigation {
    position: absolute;
    padding: 8px;
    margin-top: 8px;
    background-color: #bcb8b4;
    border: 3px solid black;
    border-top: 0;
    display: none;
}

nav > ul > li:hover > .subnavigation {
    display: block;
}

nav .subnavigation li {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav .subnavigation a {
    color: black;
    text-decoration: none;
    padding: 3px;
    font-size: 13pt;
}

nav .subnavigation li:hover {
    background-color: gray;
}

nav .subnavigation li:hover a {
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
}

#container {
    margin: 4em;
    margin-top: 3em;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 13pt;
}

aside {
    max-width: 20vw;
    background-color: #bcb8b4;
    padding: 1em;
}

aside h1 {
    color: #db3b26;
    text-transform: uppercase;
    margin-top: 0;
}

#map {
    width: 100%;
}

#social-media {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.color-red {
    color: #db3b26;
}

.color-yellow {
    color: #f59f43;
}

.color-green {
    color: #55ad32;
}
